version: '3.9'
services:
  ###
  # PROD
  ###
  api:
    image: renangalvao/project-api:latest
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
        window: 120s
    ports:
      - :3000
    environment:
      - ACCESS_TOKEN_JWT_SECRET
      - REFRESH_TOKEN_JWT_SECRET
      - MAIL_HOST
      - MAIL_PORT
      - MAIL_USER
      - MAIL_PASSWORD
      - MAIL_FROM
      - DATABASE_URL
      - REDIS_URL
      - REDIS_HOST
      - REDIS_PORT
    networks:
      - main_network
    volumes:
      - api_volume:/usr/src/app/files
      - web_volume:/var/www/html
    depends_on:
      - db
      - cache

  cache:
    image: redis:7-alpine
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
        window: 120s
    ports:
      - :6379
    networks:
      - main_network

  prisma-migrate:
    image: renangalvao/project-prisma-migrate:latest
    ports:
      - :5432
    environment:
      - DATABASE_URL
    depends_on:
      - db
    networks:
      - main_network

  db:
    image: postgres:13
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
        window: 120s
    ports:
      - :5432
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    networks:
      - main_network
    volumes:
      - db_volume:/var/lib/postgresql/data

  ###
  # DEV
  ###
  dev-redis:
    image: redis:7-alpine
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
        window: 120s
    ports:
      - 6379:6379
    networks:
      - main_network

  dev-db:
    image: postgres:13
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 5
        window: 120s
    ports:
      - 5432:5432
    env_file:
      - .env.dev
    networks:
      - main_network
    volumes:
      - db_volume:/var/lib/postgresql/data


networks:
  main_network:
    driver: bridge

volumes:
  api_volume:
  db_volume:
  web_volume:
